ul {
    list-style-type: none;
}
.row{
    display: flex;
}
a{
    text-decoration: none;
}
.container{
    border-top: 2px solid #FF5772;
}
.icon--gp{
    width: 120px;
    height: 40px;
}
.footer__social{
    display: flex;
    flex-wrap: wrap;
    
}
.footer__social li {
    padding-right: 15px;
}
a{
    color: white;
}
a:hover{
    color: white;
}